<p>
    <mat-toolbar class="flex justify-between  ">
        <span>My Application</span>
        <nav>
            <ul style="display: flex; list-style-type:none ; border-radius: 15px; ">
                <li style=" padding: 10px; text-decoration: none;">
                    <a style="text-decoration: none;" routerLink="/" routerLinkActive="active"
                        ariaCurrentWhenActive="page">home</a>
                </li>
                <li style=" padding: 10px; text-decoration: none;">
                    <a style="text-decoration: none;" routerLink="/welcome" routerLinkActive="active"
                        ariaCurrentWhenActive="page">welcome page</a>
                </li>
                <li style=" padding: 10px; text-decoration: none;">
                    <a style="text-decoration: none;" routerLink="/shop" routerLinkActive="active"
                        ariaCurrentWhenActive="page">shop</a>
                </li>
                <li style=" padding: 10px; text-decoration: none;">
                    <a style="text-decoration: none;" routerLink="/contact-us" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Contact us</a>
                </li>

            </ul>
        </nav>
    </mat-toolbar>
</p>


<router-outlet></router-outlet>