<div [hidden]="isHidden">
    <div class="flex justify-center bg-gray-100 h-screen">
        <div class="shadow-lg h-[400px]">
            <div class="flex justify-end">
                <button mat-icon-button (click)="close()">
                    <mat-icon>close_circle</mat-icon>
                </button>
            </div>
            <div class="w-[320px]">
                <h2 class="text-3xl bg-gray-100">
                    hello bangladesh
                </h2>
                <p class="p-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias libero doloremque
                    ipsa quam
                    laudantium ipsum temporibus, optio illum necessitatibus iure, aut, dolorum suscipit omnis. Expedita
                    eaque sunt dolorem dignissimos sint.</p>
            </div>
        </div>
    </div>
</div>