<div class="grid px-5 gap-5 ">
    <div class="col-start-1 col-end-3 bg-gray-300 h-screen">
        <div class="w-[350px] ">
            <form [formGroup]="todoForm" class="w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Add task</mat-label>
                    <input formControlName="todoValue" matInput placeholder="add task">
                    <mat-icon matSuffix class="px-5">sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <div class="text-center mx-auto">
                    <button (click)="addTask()" mat-raised-button type="submit"
                        class="bg-blue-700 text-white px-4 py-2 rounded" [disabled]="todoForm.invalid">
                        add
                    </button>

                </div>
            </form>
        </div>
    </div>

    <div class="col-start-3 col-end-9 bg-slate-100">

        <div cdkDropListGroup class="grid grid-cols-3 gap-5 ">

            <div class="bg-white h-screen ">
                <h2 class="text-3xl bg-orange-100 shadow-lg">Task queue <span
                        class=" text-orange-500">{{task.length}}</span></h2>
                <div cdkDropList [cdkDropListData]="task" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box " *ngFor="let item of task" cdkDrag>
                        <span class="text-lg">

                            {{item.description}}
                        </span>

                        <div class="flex">
                            <button mat-icon-button (click)="deleteHandler(item.id)"
                                class="text-red-400 rounded-full hover:bg-gray-400 transition-all duration-500">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button (click)="updateHandler(item.id,item)"
                                class="text-green-700  rounded-full hover:bg-gray-400 transition-all duration-500">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white">
                <div class="bg-white h-screen">
                    <h2 class="text-3xl bg-orange-100 shadow-lg">In progress <span class="text-orange-500">
                            {{progress.length}}</span> </h2>
                    <div cdkDropList [cdkDropListData]="progress" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of progress" cdkDrag>{{item.description}}
                            <button mat-icon-button (click)="deleteHandler(item.id)"
                                class="text-red-400 rounded-full hover:bg-gray-400 transition-all duration-500">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white">
                <div class="bg-white h-screen">
                    <h2 class="text-3xl shadow-lg bg-orange-100 ">done {{done.length}} </h2>
                    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.description}}
                            <button mat-icon-button class="text-blue-400 ">
                                <mat-icon>check_circle</mat-icon>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal (todoForm)="todoForm" (updateData)="updateData($event)" *ngIf="isEnable"></app-modal>